# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtualenvs
.env
.venv
venv/

# Editor
.vscode/
.idea/

# Docker/Postgres Daten
pgdata/
data/

# Logs
*.log

# Sensitive Dateien / lokale Config
config.yaml
deploy/config.yaml
*.session
*.db
