{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": true,
  "semi": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": ["^[^(\\.|src/)]", "^src/", "^[\\.]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
